---
import Layout from "@/layouts/Layout.astro"
import Card from "@/components/Card.astro"
import Countdown from "@/sections/Countdown.astro"
import Footer from "@/sections/Footer.astro"
import Hero from "@/sections/Hero.astro"
import PrincipalDate from "@/sections/PrincipalDate.astro"
import Info from "@/sections/Info.astro"
---


<Layout title="La velada">
<Hero/>
	<main>
	<h1 class="text-white animate-blurred-fade-in">La Velada</h1>
	<p>Texto Prueba</p>
	<PrincipalDate />
	<Info />
	<Countdown />
		
	</main>
	<Footer />
</Layout>


